In [3]:
#1
#Repetition:
List1=['hello','Guvi','GEEK']
List2=List1*2
print(List2)

['hello', 'Guvi', 'GEEK', 'hello', 'Guvi', 'GEEK']

In [4]:
#Repetition2:
List1=['hello','Guvi','GEEK']*3
print(List1)

['hello', 'Guvi', 'GEEK', 'hello', 'Guvi', 'GEEK', 'hello', 'Guvi', 'GEEK']

In [69]:
#Membership
List1=['hello','Guvi','GEEK']
print('hello' not in List1)
print('hello' in List1)

False
True

In [6]:
#Concatenation:
List1=['hello','Guvi','GEEK']+['Vishnu']
print(List1)

['hello', 'Guvi', 'GEEK', 'Vishnu']

In [7]:
#Length:
List1=['hello','Guvi','GEEK']
print(len(List1))

3

In [11]:
#Iteration:
List1=['hello','Guvi','GEEK']
for i in List1:
 print(i)

hello
Guvi
GEEK

In [21]:
#2
#max()
List1=[15,300,2700,821]
List2=[12,2]
List3=[34,567,78]
List4=List1+List2+List3
List=max(List4)
print(List)

2700

In [22]:
#min()
List1=[15,300,2700,821]
List2=[12,2]
List3=[34,567,78]
List4=List1+List2+List3
List=min(List4)
print(List)

2

In [24]:
#list():
List1=(15,300,2700,821)
List2=(12,2)
List3=(34,567,78)
List4=List1+List2+List3
List=list(List4)
print(List)

[15, 300, 2700, 821, 12, 2, 34, 567, 78]

In [25]:
#List to Tuple
List1=[15,300,2700,821]
List2=[12,2]
List3=[34,567,78]
List4=List1+List2+List3
List=tuple(List4)
print(List)

(15, 300, 2700, 821, 12, 2, 34, 567, 78)

In [26]:
#3
#list.append()
List1=['hello','Guvi','GEEK']
List1.append('Vishnu')
print(List1)

['hello', 'Guvi', 'GEEK', 'Vishnu']

In [30]:
#list.clear()
List1=['hello','Guvi','GEEK']
List1.clear()
print(List1)

[]

In [34]:
#List.copy()
List1=['hello','Guvi','GEEK']
List2=List1.copy()
print(List2)

['hello', 'Guvi', 'GEEK']

In [37]:
# list.count()
List1=[15,300,2700,821,'hello','Guvi','GEEK','hello','Guvi','GEEK',15,300,2700,821]
List1.count(15)

2

In [44]:
#list.extend()
List1=[15,300,2700,821]
List2=[91,43,45,33]
List1.extend(List2)
print(List1)

[15, 300, 2700, 821, 91, 43, 45, 33]

In [45]:
#list.index()
List1=[15,300,2700,821]
List1.index(300)

1

In [48]:
#list.insert()
List1=[15,300,2700,821]
List1.insert(0,91)
print(List1)

[91, 15, 300, 2700, 821]

In [50]:
#list.pop()
List1=[15,300,2700,821]
List1.pop(3)
print(List1)

[15, 300, 2700]

In [53]:
#list.remove()
List1=[15,300,2700,821]
List1.remove(300)
print(List1)

[15, 2700, 821]

In [55]:
#list.reverse
List1=[15,300,2700,821]
List1.reverse()
print(List1)

[821, 2700, 300, 15]

In [56]:
#list.sort()
List1=[15,300,2700,821]
List1.sort()
print(List1)

[15, 300, 821, 2700]

In [58]:
#3 Tuple Operation.
#Repetition:
Tuple1 = ('a','b','c','d')*2
print(Tuple1)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [59]:
#Concatination:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
print(Tuple1+Tuple2)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [67]:
#Membership
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h','a')
print('a'in Tuple1)
print('h' in Tuple1)
print('a' in Tuple1,'h' in Tuple1)
print('a' in Tuple1,'h' not in Tuple1)
print('a' not in Tuple1,'h' in Tuple2)

True
False
True False
True True
False True

In [73]:
#Length:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
Tuple=Tuple1+Tuple2
print(len(Tuple))

8

In [74]:
#Iteration:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
Tuple=Tuple1+Tuple2
for i in Tuple:
    print(i)

a
b
c
d
e
f
g
h

In [76]:
#4
#max()
Tuple1 =(1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
Tuple=max(Tuple1)
print(Tuple)

8765

In [77]:
#min()
Tuple1 =(1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
Tuple=min(Tuple1)
print(Tuple)

1

In [80]:
#Tuple to List
Tuple1 =(1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
Tuple=list(Tuple1)
print(Tuple)
Tuple2=tuple(Tuple)
print(Tuple2)

[1, 4, 2, 4, 5, 6, 3, 5, 4, 6, 77, 8, 7, 7, 876, 89, 8765, 4, 5, 1, 876, 9, 3456, 4234]
(1, 4, 2, 4, 5, 6, 3, 5, 4, 6, 77, 8, 7, 7, 876, 89, 8765, 4, 5, 1, 876, 9, 3456, 4234)

In [1]:
#Python Set
#Union
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(Set1.union(Set2))

{1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

In [2]:
#Intersection
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(Set1.intersection(Set2))

{3, 4, 5, 6, 7}

In [3]:
#Difference
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(Set1.difference(Set2))
print(Set2.difference(Set1))

{1, 2, 8, 876, 77}
{432, 54, 567}

In [4]:
#Symmetric_Difference()
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
Set3 = Set1.symmetric_difference(Set2)
print(Set3)

{1, 2, 8, 876, 77, 432, 54, 567}

In [5]:
#Python Dictionary
#len()
dict = {'Name': 'Student', 'Age': 27};
print(len(dict))

2

In [6]:
#str()
dict = {'Name': 'Student', 'Age': 27};
print(str(dict))

{'Name': 'Student', 'Age': 27}

In [7]:
#type()
dict1 = {'Name': 'Student', 'Age': 27};
print(type(dict1))

<class 'dict'>

In [8]:
#dict.copy()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
Dict = dictionaries.copy()
print(Dict)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [9]:
#dict.clear()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dictionaries.clear())

None

In [10]:
#dict.items()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dictionaries.items())

dict_items([(0, ' Data'), (1, 'GUVI'), (2, 'GEEK'), (3, 'Python'), (4, 'Happy')])

In [11]:
#dict.get(key[, value])
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dictionaries.get(0))

 Data

In [12]:
#dict.keys()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dictionaries.keys())

dict_keys([0, 1, 2, 3, 4])

In [13]:
#dict.fromkeys()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dictionaries.fromkeys(dictionaries,"GUVI"))

{0: 'GUVI', 1: 'GUVI', 2: 'GUVI', 3: 'GUVI', 4: 'GUVI'}

In [14]:
#dict.values()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dictionaries.values())

dict_values([' Data', 'GUVI', 'GEEK', 'Python', 'Happy'])

In [15]:
#IF Statement
if 13>25:
    print(True)
else:
    print(False)

False

In [16]:
#IF and Else statement
N = int(input())
if N%25==0:
  print("Yes")
else:
  print("No")

50
Yes

In [17]:
#IF,Elif and Else Statements
a = 15455; b = 2451; c = 6054
if a>=b and a>=c:
    print(a, " is a gratest number")
elif b>=a and b>=c:
    print(b, " is a greatest number")
else:
    print(c, " is a greatest number")

15455  is a gratest number