1.  Python Program to exchange the values of two numbers without using a temporary variable.

2. Write a python code to replace all  "a"  with 2 for the given variable
s = 'abc12321cba'

In [ ]:
s = ('abc12321cba')
s = s.replace('a','2')
s = s.replace('a'.upper(),'2')
print(s)

2bc12321cb2

3. Python code for to  remove first character in string?

In [ ]:
a = str(input())
b = a[1:]
print(b)

hello
ello

4. Concatenate two strings  
First Input : "hello"
Second Input : "guvi"
desired output :   "hello guvi"

In [ ]:
a = str(input())
b = str(input())
print(a,b)

hello
guvi
hello guvi

5. Repeat the string "hello guvi" 3 times
desired output :  'hello guvi hello guvi hello guvi '

In [ ]:
a = str(input())
print(a*3)

hello guvi
hello guvihello guvihello guvi

6. Create 3 variables a1,a2,a3. Assign the same value " 4 " to all the variables in a single line of code.

In [ ]:
a1=a2=a3=4

12

7. Calculate BMI of a person using the height and weight.
BMI = weight / (height **2)

In [ ]:
w = int(input())
h = int(input())
bmi = ((w)/(h**2))
print(bmi)

60
180
0.001851851851851852

8.Write a python program to calculate the area of circle.

In [ ]:
import math
r = int(input())
pi = math.pi
a = pi*r**2
print(a)

10
314.1592653589793

9.Calculate the simple interest
simple_interest = p * n * r /100

In [ ]:
a,b,c = input().split()
d = int(a)
e = int(b)
f = int(c)
si = (((d)*(e)*(f))/100)
g = round(si,2)
print(g)

10.Python code to calculate the square root of the given number(run time variable)

In [ ]:
import math
a = int(input())
a = math.sqrt(a)
print(int(a))

100
10